<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BioStar2</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Nunito:300,400,600,700|Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
   
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css" />





    <!-- Bootstrap Icons -->
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css" />

    <style>
        #main {
            margin-top: 58px;
            padding: 0px 5px;
            transition: all 0.3s;
        }
    </style>

    <script>
        function setHourglass() {
            document.body.style.cursor = 'wait';
        }

        window.onload = function () {
            document.body.style.cursor = 'default';
        };
    </script>
</head>

<body onbeforeunload="setHourglass();" onunload="setHourglass();">

    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="javascript:void(0)" class="logo d-flex align-items-center">
                <span class="d-none d-lg-block me-5">Bespoke Software</span>
            </a>

            <i class="bi bi-list toggle-sidebar-btn m-3"></i>

            <img src="~/img/Magnum_Logo.jpg" style="height:60px;width:100px;padding:5px;" />
        </div>

    </header>


    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-mask"></i>
                    <span>Admin</span>
                    <i class="bi bi-chevron-down ms-auto"></i>
                </a>

                <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">

                    <li>
                        <a href="@Url.Action("LeaveApp", "Admin")">
                            <i class="bi bi-circle"></i>
                            <span>Add Leave Application</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>

    </aside>


    <main id="main" class="main">
        @RenderBody()
    </main>


    <footer id="footer" class="footer">
        <div class="copyright">
            All Rights Reserved. © 2025 Magnum Telesystem
        </div>
    </footer>


    <!-- JS Files -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/content/js/main.js"></script>
 
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

</body>
</html>