@model User

<h3>Update Password</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.UserID)

    <label>New Password</label>

    <input type="text"
           id="Password"
           name="Password"
           class="form-control" />

    <br>

    <button type="button"
            class="btn btn-warning"
            onclick="GeneratePassword()">

        Generate Password

    </button>

    <br>
    <br>

    <button type="submit"
            class="btn btn-success">

        Update Password

    </button>
}

<script>
        function GeneratePassword()
    {
    var chars="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
    var pass="";

    for(var i=0;i<8;i++)
    {
    pass+=chars.charAt(Math.floor(Math.random()*chars.length));
    }

    document.getElementById("Password").value=pass;
    }
</script>